.dpd-logo {
    margin-bottom: 10px;
}

body {
    background-image: none;
    background-color: #a6b988;
}

#main-container 
iframe, #meditor {
    position:absolute;
    /* top:0; */
    left:0;
    width:100%;
    height:100%;
  }

li.component-item {
    background-image: none;
}

.sidebarscroll {
    /* position: fixed;
    top: 100px; */
    bottom: 0;
    /* overflow-y: auto; */
}

#resource-sidebar a,
#pre-resource-sidebar a {
    color: #263c27;
}

#header {
    background: rgba(33, 33, 33, 0.5) url(../img/fabric.png) !important;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #111111;
}

.placeholder {
    padding: 10px;
    border: 1px dashed #595959;
    background: url(../img/fabric.png);
}

.ace-deployd .ace_gutter {
    background: #e6e6e6;
    color: #444;
}